/* SETUP
=================================================================== */

@font-face {
  font-family: "Duospace";
  src: url("fonts/iAWriterDuospace-Regular.woff") format("woff");
}

*, *:before, *:after { box-sizing: inherit }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

body {
  -webkit-transition: background-color 270ms;
          transition: background-color 270ms;
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 1px 0 black;
}

li { margin-left: -2.5rem }



/* TEXT HIGHLIGHTING
=================================================================== */

::selection      { background: rgba(0, 120, 167, .35) }
::-moz-selection { background: rgba(0, 120, 167, .35) }



/* PLACEHOLDER
=================================================================== */

[contenteditable]:empty:before {
  content: attr(data-placeholder);
  display: block;
  color: #777;
  opacity: .4;
  font-weight: 100;
}



/* MAIN APP
=================================================================== */

#editor {
  font-family: "Duospace", monospace;
  color: transparent;
  font-size: 16px;
  line-height: 1.67;
  outline: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: none;
  position: relative;
  margin: 0 auto;
  padding: 33px 10px;
  max-width: 45rem;
}

#editor:hover { cursor: text }

#caret {
  position: fixed;
  height: 30px;
  width: 3px;
}



/* UI COMPONENTS
=================================================================== */

.ui {
  font-family: "San Francisco Text", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  position: fixed;
  text-shadow: none;
  padding: 0;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 10px;
  -webkit-transition: background-color 270ms;
          transition: background-color 270ms;
}

#mode-btn {
  bottom: 0;
  left: 0;
  border: 0;
  cursor: pointer;
}

#stats-label { bottom: 0; right: 0 }

#about-modal-link {
  top: 0;
  right: 0;
  position: absolute;
  box-shadow: none;
}



/* ABOUT MODAL
=================================================================== */

#about-modal {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0; left: 0;
  bottom: 0; right: 0;
  background: #fff;
  text-shadow: none;
}

#about-modal > div {
  max-width: 45rem;
  margin: 0 auto;
  padding: 33px 10px;
  line-height: 2;
}

#about-modal h1,
#about-modal h2 {
  font-size: 1rem;
  margin: 1rem 0 0 !important;
}

#about-modal p,
#about-modal ul {
  margin: 0 !important;
}

#about-modal-close {
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: none;
  color: #0aaecd;
  background: #fff;
}



/* MODE SPECIFIC COLORS
=================================================================== */

.day          { background: #f6f6f6; text-shadow: 0 0 0 #202020 }
.night        { background: #1a1a1a; text-shadow: 0 0 0 #cacaca }
.day   .ui    { background: #f6f6f6; color: #202020 }
.night .ui    { background: #1a1a1a; color: #cacaca }
.day   #caret { background: #00afec }
.night #caret { background: #0aaecd }



/* PRINT STYLES
=================================================================== */

@media print {
  #app    { background: white !important }
  #editor { color:      black !important }
  .ui     { display:    none  !important }
}
