html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }

body {
  font-family: "Space Mono", monospace;
  line-height: 2;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

/* theme colors, applied to body with js */
.day {
  background-color: #f5f5f5;
  color: #232323;
} .night {
  background-color: #212121;
  color: #e4e4e4;
}

::selection      { background: rgba(3,180,225,.4) }
::-moz-selection { background: rgba(3,180,225,.4) }

/* hacky placeholder text */
[contenteditable]:empty:before {
  content: attr(t);
  display: block;
  color: rgba(145,145,145,.75);
}

#editor {
  outline: 0;
  background: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0 auto;
  font-size: .975rem;
  /* with fallbacks */
  min-height: 100%;
  min-height: 100vh;
  max-width: 42rem;
  max-width: calc(40.5rem + 5vw);
  padding: 4rem 1rem;
  padding: 10.3vmin 4vmin;
}

/* printing */
@media print {
  [contenteditable]:empty:before { display: none !important }
  html > body {
    background-color: #fff !important;
    color: #000 !important;
  }
}
