html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }

body {
  font-family: "Space Mono", "Lucida Console", "Monaco", "Courier", monospace;
  line-height: 2.1;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

.day {
  background-color: #f5f5f5;
  color: transparent;
  text-shadow: 0 0 0 #272727;
}

.night {
  background-color: #212121;
  color: transparent;
  text-shadow: 0 0 0 #e3e3e3;
}

[contenteditable]:empty:before {
  content: attr(t);
  display: block;
  color: #8a8a8a;
  opacity: .43;
}

::selection      { background: rgba(0,136,255,.5) }
::-moz-selection { background: rgba(0,136,255,.5) }

#caret {
  background: #08f;
  position: fixed;
  height: 1.7em;
  width: 3px;
}

#editor {
  position: relative;
  outline: 0;
  background: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0 auto;
  letter-spacing: .06em;

  /* mobile first */
  padding: 2.2rem .75rem;
} #editor, #caret {
  font-size: .9rem;
}

/* tablets */
@media (min-width: 500px) {
  #editor {
    max-width: 41.5rem;
    padding: 3rem 1rem;
  }
}

/* mini desks */
@media (min-width: 870px) {
  #editor,
  #caret {
    font-size: .95rem;
  }
  #editor {
    max-width: 46rem;
    padding: 3.8rem 1.18rem;
  }
}

/* desktops */
@media (min-width: 1120px) {
  #editor,
  #caret {
    font-size: 1.02rem;
  }
  #editor {
    max-width: 50rem;
    padding: 4.3rem 1.5rem;
  }
}

@media print {
  [contenteditable]:empty:before { display: none !important }
  html > body {
    background-color: #fff !important;
    color: #000 !important;
  }
}
