html { box-sizing: border-box }

*,
*:before,
*:after { box-sizing: inherit }

body {
  font-family: "Roboto Mono", monospace;
  line-height: 2;
  background-color: #f5f5f5;
  color: #000;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

.dark {
  background-color: #282828;
  color: #fff;
}

::selection      { background: rgba(3,180,225,.4) }
::-moz-selection { background: rgba(3,180,225,.4) }

[contenteditable]:empty:before {
  content: attr(t);
  display: block;
  color: rgba(145,145,145,.75);
}

#writer {
  outline: 0;
  background: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0 auto;
  font-size: .975rem;
  min-height: 100%;
  min-height: 100vh;
  max-width: 42rem;
  max-width: calc(40.5rem + 5vw);
  padding: 4rem 1rem;
  padding: 10.3vmin 4vmin;
}

@media print {
  [contenteditable]:empty:before { display: none !important }
  html > body {
    background-color: #fff !important;
    color: #000 !important;
  }
}
