html {
  box-sizing: border-box;

  font-family: "Roboto Mono", monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-font-smoothing: subpixel-antialiased; /* bolder smoother */
  text-rendering: optimizeLegibility; /* detailed ligatures */
}

*, *:before, *:after { box-sizing: inherit }

html, body { height: 100% }

body {
  margin: 0;
  position: relative;
}

.ready {
  background: #484743;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* remove link highlight on mobile tap */
}

::-moz-selection { background-color: rgba(155, 155, 155, 0.285) }
::selection { background-color: rgba(155, 155, 155, 0.285) }
body::-webkit-scrollbar { width: 0 !important; }

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: rgba(155, 155, 155, 0.9);

  /* normalize webkit browsers when hacking caret */
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.writer {
  display: none; /* display block if js */
  position: relative;
  outline: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.6;
  background-color: #F3F2F0;
}

.dark .writer {
  background-color: #2E2D29;
  color: #fff;
}

/* hack webkit caret */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .writer {
    -webkit-text-fill-color: transparent;
    color: #4BE; /* caret color */
    text-shadow: 0 0 0 #000; /* text color */
  }
  .dark .writer {
    color: #4BE;
    text-shadow: 0 0 0 #FFF;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: transform 200ms;
          transition: transform 200ms;
  z-index: 1;
  background: #484743;
  color: #FFF;
  padding: 4px;
}

.inner-menu {
  margin: 0 auto;
  font-size: .75rem;
  text-align: center;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow-x: scroll;
}

.inner-menu a {
  margin-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.inner-menu a:last-child {
  margin: 0;
}

.show-menu .menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 1px)    { html { font-size: 100%; } }
@media screen and (min-width: 500px)  { html { font-size: 110%; } }
@media screen and (min-width: 1200px) { html { font-size: 120%; } }

@media print {
  .menu { display: none !important; }
  [contenteditable=true]:empty:before { display: none !important; }
  html,
  body,
  html > body > .writer {
    font-size: 11pt !important;
    background: transparent !important;
    color: #000 !important;
    min-height: 100% !important;
    padding: 11pt !important;
  }
}
