*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}



@font-face {
  font-family: 'Duospace';
  src: url('/fonts/iAWriterDuospace-Regular.woff2');
}



.app {
  font-family: "Duospace", "IBM Plex Mono", "Roboto Mono", monospace;
  font-size: 1rem;
  color: #191919;
  background: #F1F3F4;
}



.dark {
  color: #DFDFDF;
  background: #2B2B2C;
}



.editor {
  resize: none;
  border: none;
  outline: none;

  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;

  display: block;
  width: 100%;
  height: 100vh;
  padding: 1.5rem calc(0.5 * (100vw - 43.5rem)) 1.5rem calc(0.5 * (100vw - 43.5rem));
}

@media screen and (max-width: 45rem /* editor width + 2 * minimum horizontal padding */) {
  .editor {
      padding: 1.5rem 0.75rem 1.5rem 0.75rem;
  }
}



.button {
  border: none;
  outline: none;

  position: fixed;
  bottom: 3px;
  right: 3px;
  border-radius: 100%;

  background-image: url('/images/moon.svg'), url('/images/sun.svg'); /* Pre-load the dark button image */
  background-size: 65%, 0%; /* Hide the pre-loaded image. */
  background-color: #F1F3F4;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 1rem;
}

.dark .button {
  background-image: url('/images/sun.svg');
  background-color: #2B2B2C;
  background-size: 63%;
}

.button:hover {
  cursor: pointer;
}
